---
---

@import "{{ site.theme }}";

/*
 * Custom CSS
 */

.site-title {
    font-size: 2em;
}

aside a.button {
    display: block;
    width: 138px;
    padding-left: 14px;
    margin-bottom: 20px;
    font-size: 24px;
    background: none;
    background-color: rgb(55, 152, 216);
}

.team-block {
    display: inline-block;
}

.team-block .member {
    display: inline-block;
    width: 170px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.team-block .member small {
    display: block;
    font-weight: bold;
}

.team-block .member img {
    width: 120px;
}

.services-block {
    display: flex;
    align-content: center;
}

.services-block .member {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;  
    width: 200px;
    height: 150px;
    background-color: blanchedalmond;
    margin-right: 30px;
    margin-bottom: 30px;
}

.services-block .member span {
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.services-block .trading {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), 
       url('/assets/images/qt.jpg');
    background-size: cover;
}


.services-block .portfolio {
    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), 
       url('/assets/images/portfolio.jpg');
    background-size: cover;
}

.services-block .reading {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), 
       url('/assets/images/bookshelf.jpg');
    background-size: cover;
}